.hero {
  .title {
    color: $black;
  }
  .subtitle {
    color: #1e1e1e;
  }
}

// Page Contrast Styles //
.page-contrast-Dark {
  .opening-headline > * {
    color: $black;
  }
  h1, h2, h3, h4, h5 {
    color: $black;
  }
  p, div, li, span {
    color: $grey-dark;
  }

  // LINKS
  .rich-text a:not(.button), .rich-text a:not(.arrow), footer a, a.hilite {
    color: $black;
    &:before {
      background: $black;
    }
    &:after {
      background: $black;
    }
    &:hover {
      color: $white;
    }
  }
  .arrow {
    color: $black;
  }

  // Component Specific
  blockquote {
    .author {
      color: $grey-dark;
    }
  }

  // Footer
  footer {
    h5 strong {
      color: $black;
    }
    .new-business p, .new-business span {
      color: $grey-dark;
    }
    #copyright p {
      color: $grey-dark;
    }
  }
}