

// Typography //
h3.list-headline {
  margin-bottom: 2rem;
}

// Opening Helpers //
.opening.section {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.opening-statement {
  margin-bottom: 4rem;
}