.article-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 10rem;
  margin-bottom: 5rem;
  .column {
    @include mobile () {
      flex: 1 0 50%;
    }
  }
  &.align-left {
    justify-content: flex-start;
  }
  &.align-right {
    justify-content: flex-end;
  }
  .post-button {
    display: block;
    background: none;
    border: none;
    color: white;
    h5, span {
      opacity: .4;
      transition: all 0.5s ease;
      @include mobile () {
        font-size: 1rem!important;
      }
    }
    .post-button-label {
      opacity: 0.75;
      transition: all 0.5s ease;
      @include mobile () {
        font-size: 1.25rem!important;
      }
    }
    &:hover {
      h5, span {
        opacity: 0.25;
      }
      .post-button-label {
        opacity: 1;
      }
    }
    &.next {
      text-align: right;
      &:hover {
        transform: translateX(1.5rem);
        @include mobile() {
          transform: translateX(.5rem);
        }
      }
    }
    &.prev {
      text-align: left;
      &:hover {
        transform: translateX(-1.5rem);
        @include mobile() {
          transform: translateX(-0.5rem);
        }
      }
    }
  }
}