h1 {
  font-size: 1.5rem;
  font-weight: $regularW;
}
h2 {
  font-size: 1.5rem;
  font-weight: $regularW;
  color: $white;
  strong {
    font-weight: $boldW;
  }
}
h3 {
  font-size: 1.5rem;
  font-weight: $regularW;
  color: $white;
  strong {
    font-weight: $boldW;
  }
}
h4 {
  font-size: 1.5rem;
  font-weight: $lightW;
  color: $white;
  strong {
    font-weight: $mediumW;
  }
}
h5 {
  font-size: 1.5rem;
  font-weight: $regularW;
  color: $white;
  strong {
    color: $white;
    font-weight: $mediumW;
  }
}

.title {
  h2 {
    font-size: 3rem;
    font-weight: $lightW;
  }
}

p, i, span, ul, li, input, textarea, a, button {
  font-size: 1.5rem;
  font-weight: $lightW;
  line-height: 1.66;
  color: $grey-light;  
}
p, ul, ol {
  margin-bottom: 1.5rem;
  &:only-child {
    margin-bottom: 0;
  }
}
a {
  color: $white;
  transition: all 0.5s ease;
  &.arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:after {
      font-family: 'fontawesome';
      content: '\f178';
      display: block;
      padding-left: 1rem;
      padding-right: 1rem;
      transition: all 0.5s ease;
    }
    &:hover {
      transform: translate(20px, 0);
      &:after {
        transition: all 0.5s 0.25s ease;
        transform: translate(25px, 0);
      }
    }
    &.arrow-left {
      &:after {
        display: none;
        content: '';
      }
      &:before {
        font-family: 'fontawesome';
        display: block;
        padding-right: 1rem;
        transition: all 0.5s ease;
        content: '\f177'!important;
      }
      &:hover {
        transform: translate(-20px, 0);
        &:before {
          transition: all 0.5s 0.25s ease;
          transform: translate(-25px, 0);
        }
      }
    }
  }
}
li a:not(.button), li a:not(.arrow), p a:not(.button), p a:not(.arrow), a.hilite {
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    display: block;
    background: white;
    height: 2px;
    width: 100%;
    margin: auto;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  }
  &:after {
    content: '';
    display: block;
    background: white;
    height: 100%;
    width: 0;
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -7%;
    bottom: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  }
  &:hover {
    color: black;
    &:after {
      width: 115%;
    }
  }
}

strong {
  font-weight: $mediumW;
  &.black {
    font-weight: $boldW;
  }
}

blockquote {
  border-left: 4px solid $black;
  padding-left: 2rem;
  p {
    font-weight: $regularW;
    margin-bottom: 0;
  }
}

.rich-text {
  h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  h3, h4 {
    margin-bottom: 1rem;
  }
  h6 {
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }
  ol, ul {
    list-style-position:inside;
  }
  > :last-child {
    margin-bottom: 0!important;
  }
  &.has-text-black {
    p, span {
      color: $grey-dark;
    }
  }
}

.column-list {
  margin-bottom: 4rem;
  white-space: pre-wrap;
  column-count: 2;
  @include mobile() {
    column-count: 1;
  }
}

// Contrast Styles
.has-text-black {
  h2 {
    color: $black;
  }
  h6 {
    color: lighten($black, 60%);
  }
  blockquote {
    border-color: $black;
    p {
      color: $black;
    }
  }
}
.has-text-white {
  h2 {
    color: $white;
  }
  h6 {
    color: darken($white, 60%);
  }
  blockquote {
    border-color: $white;
    p {
      color: $white;
    }
  }
}